/* Nav Bar */

/* sets margin right on the right of nav anchor links  */
.navbar {
    background-color: rgb(174, 173, 173) !important;
    margin-bottom: 0px !;
}

.navbar-nav li a {
    margin-right: 50px;
}

/* Hero Section */

/* styles entire hero jumbotron */
.jumbotron {
    padding-top: 1vh;
    padding-bottom: 2vh;
}

/* styles both rows of hero content */
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 40px;
    padding-bottom: 1vh;

}

/* Main */

/* Work section */
.work-container {
    max-width: 85%;
}
.work-container h2 {
    text-align: center;
    margin: 30px !important;
    padding: 20px;
}

/* cards */
.card {

}

.card1 {
    background-image: url(../images/horiseon-screenshot.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card2 {
    background-image: url(../images/portfolio-screenshot.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card3 {
    background-image: url(../images/study-guide-screenshot.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card4 {
    background-image: url(../images/placeholder.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* targets headings, subtitles and card text in cards */
.card-title, .card-subtitle, .card-text {
    text-align: center !important;
    background-color: white;
    /* min-width: 300px; */
    color: black !important;
    border: solid red;
    border-width: 5px;
    padding: 10px;
    font-weight: bolder !important;
}

/* targets card links */
.card-link {
    text-align: center !important;
    background-color: black;
    min-width: 300px;
    color: whitesmoke !important;
    border: solid red;
    border-width: 6px;
    padding-right: 30px;
    font-weight: bolder !important;
}

.card-link span {
    padding-left: 23px;
}

/* Skills */






