/* Nav Bar */

/* sets margin right on the right of nav anchor links  */
.navbar {
    background-color: rgb(174, 173, 173) !important;
    margin-bottom: 0px !;
}

/* targets anchor tags in the nav bar */
.navbar-nav li a {
    margin-right: 23px;
    font-weight: bold;
}

/* Hero Section */

/* styles entire hero jumbotron */
.jumbotron {
    padding-top: 1vh;
    padding-bottom: 2vh;
}

/* styles both rows of hero content */
.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 40px;
    padding-bottom: 1vh;

}

/* Main */

/* Work section */
.work-container {
    max-width: 85%;
}

.work-container h2 {
    text-align: center;
    margin: 30px !important;
    padding: 20px;
}

/* cards */
.card1 {
    background-image: url(../images/horiseon-screenshot.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card2 {
    background-image: url(../images/portfolio-screenshot.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card3 {
    background-image: url(../images/study-guide-screenshot.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card4 {
    background-image: url(../images/placeholder.svg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

/* targets headings, subtitles and card text in cards */
.card-title,
.card-subtitle,
.card-text {
    text-align: center !important;
    background-color:  rgb(174, 173, 173) !important;
    color: black !important;
    border: solid rgb(16, 16, 16);
    border-width: 5px;
    padding: 10px;
    font-weight: bolder !important;
}

/* targets card links */
.card-link {
    text-align: center !important;
    background-color: black;
    min-width: 300px;
    color: whitesmoke !important;
    border: solid rgb(59, 59, 59);
    border-width: 6px;
    padding-right: 30px;
    font-weight: bolder !important;
}

.card-link span {
    padding-left: 23px;
}

/* Skills */

.skills-row {
    margin-left: 7%;
}

.left-skills {
    padding-bottom: 20px;
}

#skills h2 {
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
}

.pop-up {
    padding-top: 103px;
    padding-bottom: 30px;
    text-align: center;

}

/* About section */

/* targets about heading */
#about h2 {
    padding-right: 40px;
}

/* targets about paragraph */
#about p {
    font-size: 18px;
    padding-right: 45px;
    text-align: center;
}

/* Footer Section */

#contact {
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}

#contact h2 {
    padding-bottom: 30px;
}

.contact-links {
    display: flex;
    gap: 18px;
}

/* sets bold font and no text-decoration when hovering over contank link anchor tags */
.contact-links a:hover {
    font-weight: bold;
    text-decoration: none;
}

.contact-links a button {
    background-color: lightcyan;
    color: rgb(26, 26, 26);
    font-size: 14px;
}

/* sets box shadow on contact link buttons when hovering over */
.contact-links a button:hover {
    box-shadow: 5px 5px blue;
}

